In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Portland,US,2021-04-10 05:03:47,45.5234,-122.6762,48.20,53,90,9.22
1,1,Kruisfontein,ZA,2021-04-10 05:07:23,-34.0033,24.7314,57.45,77,47,2.71
2,2,Cheney,US,2021-04-10 05:06:25,47.4874,-117.5758,48.20,37,90,8.05
3,3,Miles City,US,2021-04-10 05:07:23,46.4083,-105.8406,37.40,52,1,10.36
4,4,Cidreira,BR,2021-04-10 05:07:23,-30.1811,-50.2056,73.38,80,85,8.01

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=150, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
12,12,Bengkulu,ID,2021-04-10 05:07:26,-3.8004,102.2655,85.86,65,28,10.47
19,19,Bambous Virieux,MU,2021-04-10 05:07:28,-20.3428,57.7575,77.00,88,40,3.44
27,27,Mahebourg,MU,2021-04-10 05:07:30,-20.4081,57.7000,75.20,88,40,3.44
30,30,Saint-Philippe,RE,2021-04-10 05:07:31,-21.3585,55.7679,82.40,61,0,5.75
31,31,Rikitea,PF,2021-04-10 05:07:31,-23.1203,-134.9692,78.19,75,59,11.65
32,32,Souillac,MU,2021-04-10 05:07:31,-20.5167,57.5167,75.20,88,40,3.44
38,38,Hithadhoo,MV,2021-04-10 05:07:33,-0.6000,73.0833,82.85,71,5,8.95
42,42,Butaritari,KI,2021-04-10 05:07:34,3.0707,172.7902,82.65,73,100,12.97
44,44,Kavieng,PG,2021-04-10 05:07:35,-2.5744,150.7967,80.85,81,80,8.86
47,47,Cap Malheureux,MU,2021-04-10 05:07:35,-19.9842,57.6142,77.00,83,99,1.99

In [12]:
# Check for missing values
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
12         Bengkulu      ID     85.86  -3.8004  102.2655
19  Bambous Virieux      MU     77.00 -20.3428   57.7575
27        Mahebourg      MU     75.20 -20.4081   57.7000
30   Saint-Philippe      RE     82.40 -21.3585   55.7679
31          Rikitea      PF     78.19 -23.1203 -134.9692
32         Souillac      MU     75.20 -20.5167   57.5167
38        Hithadhoo      MV     82.85  -0.6000   73.0833
42       Butaritari      KI     82.65   3.0707  172.7902
44          Kavieng      PG     80.85  -2.5744  150.7967
47   Cap Malheureux      MU     77.00 -19.9842   57.6142

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [20]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
12,Bengkulu,ID,85.86,-3.8004,102.2655,Grage Hotel Bengkulu
19,Bambous Virieux,MU,77.00,-20.3428,57.7575,Casa Tia Villa
27,Mahebourg,MU,75.20,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
30,Saint-Philippe,RE,82.40,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
31,Rikitea,PF,78.19,-23.1203,-134.9692,Pension Maro'i

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))